/* Creerò l'app per fotografo

Colori: normale dorato e grigio scuro
primario: "rgb(249,194,40)",
secondario: "rgb(71, 71, 71)",
Dark Mode: blue e verde
// Colori dark mode
terziario: "rgb(0, 14, 41)",
quaternario: "rgb(4, 104, 101)"

Font: Work Sans

Testi:

*/